@tailwind base;

@tailwind components;

@tailwind utilities;

.skew {
  display: none;
}

.skewed-top-right .skew-top.mr-for-radius {
  display: block;
}

.skewed-top-left .skew-top.ml-for-radius {
  display: block;
}

.skewed-bottom-right .skew-bottom.mr-for-radius {
  display: block;
}

.skewed-bottom-left .skew-bottom.ml-for-radius {
  display: block;
}

.skewed-top-right .radius-for-skewed {
  border-top-right-radius: 6rem;
}

.skewed-top-left .radius-for-skewed {
  border-top-left-radius: 6rem;
}

.skewed-bottom-right .radius-for-skewed {
  border-bottom-right-radius: 6rem;
}

.skewed-bottom-left .radius-for-skewed {
  border-bottom-left-radius: 6rem;
}

#dropdown-menu {
  display: none;

  }

 #dropdown:hover #dropdown-menu  {
  z-index: 999;
  
    visibility: visible;
  display: block;
  position: absolute;
 
    top: 100%;
    

}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.blue900 {
  color: #1e3a8a;
}

#bcircle {
  width: 300px;
  height: 300px;
  border: 2px solid #1e3a8a;
  position: absolute;
  top: 15rem;
  bottom: 15rem;
  right: 0;
  left: 17rem;
  margin: auto;
  border-radius: 50%;
}

#scircle {
  width: 30px;
  height: 30px;
  background: #1e3a8a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  -webkit-animation: circle 5s linear infinite;
  animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(3600deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

#bcircletwo {
  width: 300px;
  height: 300px;
  border: 2px solid #1e3a8a;
  position: absolute;
  top: 15rem;
  bottom: 15rem;
  right: 20rem;
  left: 60rem;
  margin: auto;
  border-radius: 50%;
}

#scircletwo {
  width: 30px;
  height: 30px;
  background: #1e3a8a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  -webkit-animation: circle 5s linear infinite;
  animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(3600deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

#bcirclethree {
  width: 300px;
  height: 300px;
  border: 2px solid #1e3a8a;
  position: absolute;
  top: 30rem;
  bottom: 15rem;
  right: 15rem;
  left: 52rem;
  margin: auto;
  border-radius: 50%;
}

#scirclethree {
  width: 30px;
  height: 30px;
  background: #1e3a8a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  -webkit-animation: circle 5s linear infinite;
  animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(3600deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

#signupcolors {
  background-color: #1e3a8a;
}

@media only screen and (max-width: 1280px) and (min-width: 375px) {
  #bcircle {
    display: none;
  }
  #scircle {
    display: none;
  }
  #bcircletwo {
    display: none;
  }
  #scircletwo {
    display: none;
  }
  #bcirclethree {
    display: none;
  }
  #scirclethree {
    display: none;
  }
}

#teambg {
  
  background-image: url(/atis-assets/background/career.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#teambgtwo{
  
  background-color:#1e3a8a;
  opacity: 0.7;
  padding: 1rem;
}

#careerbg {
  background-image: url(/atis-assets/background/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#careerbgtwo{
  background-color:#1e3a8a;
  opacity: 0.7;
  padding: 4rem;
}

#svg{
  margin-left:-20px;
}
